[Unit]
Description=Multi-WAN Packet Forwarder Daemon
After=network.target postgresql.service

[Service]
Type=simple
User=root
# ENV
EnvironmentFile=/opt/.env

# Daemon
ExecStartPre=/sbin/insmod /usr/local/lib/modules/mwan_kmod.ko
ExecStart=/usr/local/bin/sep-wan
ExecStopPost=-/sbin/rmmod mwan_kmod
Restart=always

[Install]
WantedBy=multi-user.target
