[Unit]
Description=PQC Key Generation Service Daemon
After=network.target vault.service

[Service]
Type=simple
User=root
EnvironmentFile=/opt/.env
Environment=LD_LIBRARY_PATH=/usr/lib/pqc
ExecStart=/usr/bin/pqc --daemon
Restart=always

[Install]
WantedBy=multi-user.target
